<!-- ==== ABOUT ==== -->
<div class="container" id="about" name="about">
  <div class="row white">
    <br>
      <h1 class="centered">A Synopsis</h1>
    <hr>

    <div class="col-lg-6">
      <p>I've been a software developer for the past 11 years. I have strong opinions quietly voiced about 
      testing, continuous integration, design patterns and communications amongst team members. I believe 
      in constant improvement and I'm frustrated by those who don't. I'm almost entirely self-taught.  
      Most of my code lives on <a href="https://github.com/osiris43">GitHub</a>.  I prefer dynamic to static languages. 
      In my day job, I write C#, Ruby and Javascript. I'm a comfortable novice in Python. I've built a fairly 
      significant Rails app, <a href="http://www.thesportspoolhub.com">The Sports Pool Hub.</a>.  I love to create things in code
      on teams of exciting people.
    </div><!-- col-lg-6 -->

    <div class="col-lg-6">
      <p>For as long as I can remember, I've been a writer. I wrote my first story in 5th grade, 
      a bloody murder mystery complete with illustrations much to my teachers' (and I'm sure my parents') dismay. 
      Showing flashes of an overwrought creativity even then, I went out of my way to find out what the word murder 
      was in Spanish so that my title had panache.  I have two blogs where I write with semi-regular frequency.  
      <a href="http://anexperimentinscotch.com">An Experiment In Scotch</a> started as just that and continues as an outlet
      for all things not specifically related to sports or technology.  <a href="http://www.mentalpandiculation.com">Mental Pandiculation</a>
      is my tech blog where I write things so I can remember them next time I have to fix the same thing.  
      </p>
    </div><!-- col-lg-6 -->
  </div><!-- row -->
</div><!-- container -->
