<div id="blogs">
  <div class="container_12">
    <div class="grid_4">
      <h4>An Experiment In Scotch</h4>
      <a href="http://www.anexperimentinscotch.com"><%= image_tag("/images/aeis.png", :size => "280x200") %></a>
      The Experiment started exacly as it sounds, a place for scotch fueled rants and raves
      about all manner of topics.  It's since evolved to just be a writing outlet for anything
      that doesn't fall under the auspices of sports or technology.  It's my longest running
      blog, started June of 2001 though the archives only go back to February of 2004 due to 
      a bad migration from Radio to Wordpress.  
    </div>
    <div class="grid_4">
      <h4>You Need More Sports</h4>
      <a href="http://youneedmoresports.com"><%= image_tag("/images/youneedsports.png", :size => "280x200") %></a>
      Started in the fall of 2010 as an outlet for football writing and podcasting, it quickly
      morphed into an all-around sports site.  Most of the writing there revolves around 
      basketball and golf right now.  It is a group blog and I'm looking forward to contributing
      more content there in the coming months.
    </div>
    <div class="grid_4">
      <h4>Mental Pandiculation</h4>
      <a href="http://mentalpandiculation.com"><%= image_tag("/images/mentalp.png", :size => "280x200") %></a>
      My technology blog, it was spun off from The Experiment when a previous employer linked 
      to that site from our company website.  Given the kind of content typically produced at
      The Experiment, it seemed prudent to have a "work" blog in essence.  It gets the least 
      attention of the three, mostly because I got tired of writing about technology.  
    </div>
  </div>
</div>
