<!-- ==== SECTION DIVIDER6 ==== -->
		<section class="section-divider textdivider divider6">
			<div class="container">
				<h1>BORN IN TEXAS</h1>
				<hr>
				<p>2432 Five Mile Circle, Dallas, TX</p>
				<p>214-500-5128</p>
				<p><a class="icon icon-twitter" href="http://www.twitter.com/brettbim"></a> | <a class="icon icon-facebook" href="https://www.facebook.com/osiris43"></a></p>
			</div><!-- container -->
		</section><!-- section -->
		
		<div class="container" id="contact" name="contact">
			<div class="row">
			<br>
				<h1 class="centered">THANKS FOR VISITING</h1>
				<hr>
				<br>
				<br>
				<div class="col-lg-4">
					<h3>Contact Information</h3>
					<p><span class="icon icon-home"></span> 2432 Five Mile Circle, Dallas, TX<br/>
						<span class="icon icon-mobile"></span> (214) 500-5128 <br/>
						<span class="icon icon-envelop"></span> <a href="mailto:brettbim@gmail.com"> brettbim@gmail.com</a> <br/>
						<span class="icon icon-twitter"></span> <a href="http://www.brettbim.com"> @brettbim </a> <br/>
					</p>
				</div><!-- col -->
				
				<div class="col-lg-4">
					<h3>Newsletter</h3>
					<p>Register for my newsletter and be updated with the latests information regarding pretty much everything I do.  Plus, you'll be the only subscriber</p>
					<p>
						<form class="form-horizontal" role="form">
						  <div class="form-group">
						    <label for="inputEmail1" class="col-lg-4 control-label"></label>
						    <div class="col-lg-10">
						      <input type="email" class="form-control" id="inputEmail1" placeholder="Email">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="text1" class="col-lg-4 control-label"></label>
						    <div class="col-lg-10">
						      <input type="text" class="form-control" id="text1" placeholder="Your Name">
						    </div>
						  </div>
						  <div class="form-group">
						    <div class="col-lg-10">
						      <button type="submit" class="btn btn-success">Sign up</button>
						    </div>
						  </div>
					   </form><!-- form -->
					</p>
				</div><!-- col -->
				
				<div class="col-lg-4">
          <h3>My Pictures</h3>
          <p>Some pictures are only worth 500 <a href="http://www.worth500words.com">words</p>
				</div><!-- col -->

			</div><!-- row -->
		
		</div><!-- container -->
