  <div id="crossfit" class="container_12">
    <div class="grid_12">
      <h4>I'm a CrossFitter</h4>
      <a href="http://www.crossfit.com"><%= image_tag('/images/crossfit.jpg') %></a>
      <p>What this means to me and what this means to my friends and family are two entirely different things
      summarized as they think I'm insane and I don't.
      I've been doing CrossFit since August, 2008 and got my Level I Certificate in September 2009.  I 
      occasionally train people in the CrossFit methodolgy and am always willing to discuss the benefits of
      CrossFit.</p>
    </div>
    <div class="clear"></div>
  </div>

