<!-- ==== SECTION DIVIDER1 -->
<section class="section-divider textdivider divider1">
  <div class="container">
    <h1>MAN IS CONDEMNED TO BE FREE</h1>
    <hr>
    <p>Because once thrown into the world, he is responsible for everything he does -- <em>Jean-Paul Sartre</em></p>
  </div><!-- container -->
</section><!-- section -->
