<div>
  <div id="photography" class="container_12">
    <div class="grid_6">
      <div id="photoblog">
        <h4>My Photoblog</h4>
        <a href="http://www.worth500words.com"><img src="/images/photoblog1.jpeg" alt="Photography" /></a>
      </div>
    </div>
    <div class="grid_6">
      <h4>Flickr</h4>
      <a href="http://www.flickr.com/photos/14646437@N02/"><%= image_tag('/images/flickr.png', :size => "300x150") %></a>
    </div>
  </div>
</div>
