<div id="summary">
  <div class="container_12">
    <div class="grid_7">
      <%= image_tag("/images/feetinsand.jpg", :size => "500x300") %><br />
    </div>
    <div class="grid_5">
      <span>I'm a writer, software developer, CrossFitter, gardener and scotch drinker.  Those
       are the main labels though there are others.  This is my central home on the web, mostly started
       as a journey into Rails and ruby with a minor in web design and humility.  Of course, when you are 
       building a website in homage to yourself, humility is a difficult emotion to come by.
    </div>
    <div class="clear"></div>
  </div>
</div>

