<!-- ==== GREYWRAP ==== -->
<div id="greywrap">
  <div class="row">
    <div class="col-lg-4 callout">
      <span class="icon icon-stack"></span>
      <h2>Software</h2>
      <p>I write software for a living.  I solve problems in code because it's fun.</p>
    </div><!-- col-lg-4 -->

    <div class="col-lg-4 callout">
      <span class="icon icon-eye"></span>
      <h2>Fitness</h2>
      <p>I'm CrossFit Level I certified and have been doing CrossFit since 2008.  I believe in doing hard physical activity as a way to discover
      what is physically possible.</p>
    </div><!-- col-lg-4 -->	

    <div class="col-lg-4 callout">
      <span class="icon icon-heart"></span>
      <h2>The Written Word</h2>
      <p>Since the fifth grade, writing has been part of my blood.  Writing is how I discover what I think through blogs, journals and stories.</p>
    </div><!-- col-lg-4 -->	
  </div><!-- row -->
</div><!-- greywrap -->
