<!-- ==== STORY ==== -->
		<div class="container" id="stories" name="stories">
			<br>
			<br>
			<div class="row">
				<h2 class="centered">FICTION</h2>
				<hr>
				<br>
        <div class="col-lg-offset-2 col-lg-8">
          <p>The first time I made this trip, my kid sis­ter was grad­u­at­ing from Tulane in the win­ter of 1988. The Vir­ginia hills were cov­ered in snow like pow­dered sugar on a fun­nel cake, light and airy and sub­ject to cover your entire face and clothes. Horses and cat­tle stood in groups, noses fac­ing south away from the wind. In the after­noon gloom, lights flick­ered in farm­houses. As the Cres­cent hur­tled down the tracks, I imag­ined the life of the peo­ple on those farms in a win­ter like this, long and cold. So dif­fer­ent from my life in the City with the con­stant action and activ­ity. Look­ing out the win­dow, it seemed like noth­ing moved here, like noth­ing had moved in six months or six years. There was a still­ness to the place that gave my rest­less heart no small anx­i­ety. The snow was white, not the dirty slush that stood for months on the north side of build­ings in New York. The train passed over a river still unfrozen and flow­ing freely. I thought about my sis­ter and tomorrow’s cel­e­bra­tion. It had been hard for her after I left and Dad died. Every Sun­day she went to see Mom and lis­ten to the ram­bling crazi­ness that inhab­ited her mind. Kelsey would call me after­wards, say­ing I should call Mom, maybe even visit. It wasn’t some­thing I could do and we both knew it. She was always the better human being.</p>
          <p>On this trip though, it’s spring and the farms are alive with activ­ity. A trac­tor sows the fall’s bounty in a black, fer­tile field. Cat­tle amble through hay up to their bel­lies, con­tented. On many farms, fruit trees bloom pink and white and I imag­ine I can smell the nec­tar attract­ing bees from miles away. Spring is that moment of promise for what may be in the future. The north­ern Vir­ginia Pied­mont has many orchards, acres and acres of apple and peach trees aglow with flow­ers this time of year. As the train moves far­ther south into North Car­olina, the ter­roir changes. The bucolic farms of Vir­ginia give way to a more indus­trial farm, often filled with tobacco or cot­ton. The far­ther south we go, the more hard­scrab­ble and dif­fi­cult life seems to become. Farm­houses look ran­sacked occa­sion­ally with cars parked in blocks out front, chick­ens and goats run­ning through the yards and half naked kids running crazy through the yard.</p>
          <p>The train is moving too fast this trip towards a future I don’t want to reach.</p>
				</div><!-- col-lg -->
			</div><!-- row -->
		</div><!-- container -->
