<div id="worksummary">
  <div class="container_12">
    <div class="grid_12">
      <%= image_tag("/images/code.png", :size => "600x200") %>
      <p>I've been a software developer for the past 11 years. I have strong opinions quietly voiced about
      testing, continuous integration, design patterns and communications amongst team members.  I believe in
      constant improvement and I'm frustrated by those who don't.  I'm almost entirely self-taught.  I do not
      have a certain geek cred that stems from owning a Commodore 64 and programming games on it as a kid.
      However, I wrote a program in 6th grade on an original Apple that printed Alfred E. Neuman's visage on the screen.
      It was copied from Mad Magazine but required a not insignificant amount of
      debugging to get everything lined up right.  Maybe that's where my OCD tendencies stem from.</p><br />
      <p>I started out at a company doing VB6 work, building IVRs for automated bill payments.  
      I branched into .Net and c# there, learning as I went largely through a desire to write better code.  
      I don't have a portfolio as much of my work has been done on the server side.</p><br />
      <p>I prefer dynamic to static languages.  I'm a comfortable novice leaning towards intermediate in Python.
      Lately, I've been diving into Ruby and Rails which this site is built in.  I dabble in Clojure but could
      only be considered dangerous there.  I'm surprisingly good with people and managing projects though 
      it's not my greatest love.  I prefer to create things in code on teams full of exciting people.  </p><br />
      <p>My design and user interface skills are in their infancy but I'm working hard to improve them.  Right now, 
      I'm just happy that this web site doesn't make me want to gouge my own eyes out.  I love the combination of 
      creativity and technological skill required to create a web site.  It's exactly why I got into this 
      field in the first place.</p><br />
      <P>I'm currently self-employed, working on a variety of projects.  If you have a cool one, I'd love to talk
      to you about how I might be able to help.</p>
    </div>
    <div class="clear"></div>
  </div>
</div>
