<div id="worksummary">
  <div class="container_12">
    <div class="grid_12">
      <%= image_tag("/images/code.png", :size => "600x200") %>
      <p>I've been a software developer for the past 11 years. I have strong opinions quietly voiced about
      testing, continuous integration, design patterns and communications amongst team members.  I believe in
      constant improvement and I'm frustrated by those who don't.  I'm almost entirely self-taught.  I do not
      have a certain geek cred that stems from owning a Commodore 64 and programming games on it as a kid.
      However, I wrote a program in 6th grade on an original Apple that printed Alfred E. Neuman's visage on the screen.
      It was copied from Mad Magazine but required a not insignificant amount of
      debugging to get everything lined up right.  Maybe that's where my OCD tendencies stem from.</p><br />
      <p>I started out at a company doing VB6 work, building IVRs for automated bill payments.  
      I branched into .Net and c# there, learning as I went largely through a desire to write better code.  Most of my code lives
      on <a href="https://github.com/osiris43">GitHub</a>.
      <p>I prefer dynamic to static languages.  In my day job, I write C#, Ruby and Javascript.  I'm a comfortable novice in Python.
      I've built a fairly significant Rails app, <a href="http://www.thesportspoolhub.com">The Sports Pool Hub</a>.  
      My Javascript is getting better all the time and I'm looking at building a node.js backed site.  I'm good with people and managing projects though 
      it's not my greatest love.  I prefer to create things in code on teams full of exciting people.  </p><br />
      <p>My design and user interface skills are in their infancy but I'm working hard to improve them.  I love that things like 
      Twitter Bootstrap exist to allow guys like me the ability to build good looking websites.</p>
    </div>
    <div class="clear"></div>
  </div>
</div>
