<div class="container_12">
  <div class="grid_12">
    <blockquote class="quote">"And by the way, everything in life is writable about if you have the outgoing guts to do it, and the 
      imagination to improvise.  The worst enemy to creativity is self-doubt."  ~Sylvia Plath</blockquote>
  </div>
  <div class="grid_12">
    <p>For as long as I can remember, I've been a writer.  I wrote my first story in 5th grade, a bloody murder mystery
    complete with illustrations much to my teachers' (and I'm sure my parents') dismay.  Showing flashes of an overwrought
    creativity even then, I went out of my way to find out what the word murder was in Spanish so that my title had panache.
    In high school, we kept a journal in 11th grade English.  We had to write for 30 minutes a night.  Most of my peers 
    struggled to produce 5 paragraphs in the time while I routinely wrote 5 pages or more.  </p><br />
    <p>I've kept up with that journal off and on since then.  I've also been reasonably productive when it comes to blogging.
    My blogs aren't terribly widely read but then, I'm not much for self-promotion, this website notwithstanding.  But I have
    produced thousands of posts over the course of the Internet's lifespan.  </p><br />
    <p>
    I don't think I ever knew growing up that you could be an author, at least not at a conscious realistic level. Sure,
    people wrote books but those were "other people".  I don't know when it first occurred to me that maybe I could be
    an author but it was certainly later in life than most.  I am inspired by Malcolm Gladwell's essay on 
    <a href="http://www.gladwell.com/2008/2008_10_20_a_latebloomers.html">late bloomers</a>.  I am inspired by my friends and
    family who encourage me to write.  And I'm inspired by that little boy who seemingly an eon ago decided he was going to 
    write a murder mystery where everyone got killed.  Including the good guys.</p><br />
  </div>

</div>

