<section id="about">
  <div class="container_12">
    <div id="timeline" class="grid_12">
      <%= image_tag('/images/timeline.jpg', :size => "1024x600") %>
    </div>
    <div class="clear"></div>
    <section id="about_describe">
      <div class="grid_12">
        <%= image_tag('/images/profile.jpg') %><p>Brett Bim is a writing, developing, scotch drinking raconteur who 
        tends to overstate things dramatically.  He's currently in a state of self-discovery, probably Nevada,
        and has taken to talking about himself in the third person.  You can email him at osiris43@gmail.com.  
      </div>
      <div class="clear"></div>
      <div id="tidbits"> 
        <h4>Some interesting tidbits</h4>
        <ul class="grid_6">
          <li>Won ribbons in both 2008 (2nd) and 2009 (3rd) in photography at the State Fair of Texas</li>
          <li>Once got a ticket for going 102 in a 55. Nissan 300z turbos are fun.</li>
          <li>Is terrified of roller coasters</li>
          <li>Once made ribs proclaimed by one Matt Sell to be the best he'd ever tasted.</li>
        </ul>
        <ul class="grid_6">
          <li>Was in People magazine once.</li>
          <li>Of all the things he misses most about Paleo eating, donuts are number 1 by a large margin.</li>
          <li>Ran the San Diego Rock n Roll Marathon in under 4 hours</li>
        </ul>
      </div>
    </section>
  </div>
</section>

