<div id="footerwrap">
<div class="container">
  <h4>Created by <a href="http://brettbim.com">Brett Bim</a> - Copyright 2014</h4>
  <h4>Bootstrap theme <a href="http://blacktie.co">BlackTie.co</a></h4>
</div>
</div>

