<div id="footer">
<div class="container_12">
  <div class="grid_4" >
    &copy;2014 Brett Bim. All Rights Reserved.
  </div>
  <div class="grid_4" >
    Built using Rails.
  </div>
  <div class="grid_4" >
    You really should follow me on <%= link_to("Twitter", "http://twitter.com/brettbim") %>.
  </div>
</div>
</div>
