<div id="header">
  <div class="container_12">
    <div id="nav">
      <ul>
        <li><%= link_to 'work', work_path %></li>
        <li><%= link_to 'writing', writing_path %></li>
        <li><%= link_to 'about', about_path%></li>
      </ul>
    </div>

    <a href="/" id="home">Brett Bim <strong># the pixelated version</strong></a>
  </div>
</div>

